.add-option
{
  display: flex;
  padding: $m-size
}
.add-option-error
{
  color: $offWhite;
  font-style: italic;
  padding: 0 $xl-size;
  margin: $m-size 0 0 0;
}
.add-option__input
{
  background-color: $darkBlue;
  border: 0;
  border-bottom: .3rem solid darken($darkBlue, 10%);
  flex-grow:1;
  margin-right: $s-size;
  color:$offWhite;
  padding: $s-size;
}

@media (max-width: $desktopBreakpoint)
{
  .add-option
  {
    flex-direction: column;
  }
  .add-option__input
  {
    margin: 0 0 $s-size 0;
  }
}